<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<header></header>
  <body>
    <div class="col-lg-4">
      <h1>You Searched For: <%= data.userQuery %> </h1>
      <% if(data.loggedIn){ %>
        <h2>You are logged in as: <%= data.username %> </h2>
      <% } %>
        <ul>
          <% data.searchResults.forEach(result => { %>
            <li><%= result %></li>
          <% }); %>
        </ul>
    </div>
  </body>
</html>
